body {
	background: url('./proj/nav_4.jpg');

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 30%;
	border: 2px solid #ccc;
	padding: 30px;
	background: #ccc;
	border-radius: 15px;
}

.home {
	padding: 5px 5px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	width: 12%;
	height: 7%;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

.butt_home{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(145,158,142,1) 73%, rgba(251,252,251,1) 100%);
	color: #fff;
	border-radius: 5px;
	border: none;
}
.butt_home:hover{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(59,217,138,1) 73%, rgba(251,252,251,1) 100%);
	opacity: .7;
}
button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 